body {
   background-color: #d5dbdc;
   background-image: url("app/img/paper-wallpaper.png");
   font-family: "Times New Roman"
}

img {
  margin-left: auto;
  margin-right: auto;
  max-width: auto;
  max-height: 10rem;
  border: maroon;
  border-style: solid;
  /* border-radius: 25px; */
}

#loveLearning {
  color: rgb(55, 5, 5);
}

#logo {
  position: absolute;
  right: 0px;
}

#banner{
  background-color: #21b2c2;
  background-image: linear-gradient(to right, #800020, #a9347e, #14c7d7);
  margin-bottom: 2rem;
  max-height: 10rem;
}

.StudentDashboard {
  min-width: fit-content;
}

.accordion {
  /* max-width: fit-content; */
  margin: 2rem auto;
}

.accordion-title {

  font-size: 50px;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('https://s3.amazonaws.com/usefulangle/news/95-5f6cc1ad5575e.jpg');

  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  color: orange;
  background: linear-gradient(to right, #800020, #a9347e, #14c7d7); */
}

.accordion-title:hover {
  /* background-color: #3ab4cc;
  background: radial-gradient(circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(199, 233, 148, 1) 100%); */

      font-size: 50px;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('https://as2.ftcdn.net/v2/jpg/00/94/53/25/500_F_94532580_XwSK8I03t7oQY246gc6vdeU1wm6q2r8P.jpg');
}

.accordion-title,
.accordion-content {
  padding: 2rem;
}

/* .accordion-content {
  background-color: #39b9d2;
  background: radial-gradient(circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(199, 233, 148, 1) 100%);
      
} */

/* iframe {
    display:block;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(129, 59, 59);
} */

.ContactForm {
  display:block;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  background-color: rgb(129, 59, 59);
}

.classImage {
  /* background-image: linear-gradient(to right, #800020, #a9347e, #14c7d7); */
  width: 100%;
  display: block;
  
}

#Footer {
  text-align: center;  
}

#Header {
  min-width: 75%;
  max-width: 85%;
}

#filmColor {
  background-color: #39b9d2;
  background: radial-gradient(circle,
      Magenta 25%,
      rgb(255, 255, 255) 100%);
}

#programmingColor {
  color: orange;
  background: radial-gradient(circle,
      #af7fdd	 25%,
      rgb(255, 255, 255) 100%);
}

#epicsColor {
  background: radial-gradient(circle,
      Yellow 25%,
      rgb(255, 255, 255) 100%);
}

#stwColor {
  background: radial-gradient(circle,
      #00FF7F	 25%,
      rgb(255, 255, 255) 100%);
}