body {
   /* background-color: #d5dbdc; */
   background-image: url("app/img/paper-wallpaper.png");
   font-family: "Times New Roman"
}

img {
  margin-left: auto;
  margin-right: auto;
  max-width: auto;
  max-height: 10rem;
  border: maroon;
  border-style: solid;
  /* border-radius: 25px; */
}

#loveLearning {
  color: rgb(55, 5, 5);
}

#logo {
  position: absolute;
  right: 0px;
}

#banner{
  background-color: #21b2c2;
  background-image: linear-gradient(to right, #800020, #a9347e, #14c7d7);
  margin-bottom: 2rem;
  max-height: 10rem;
}

.StudentDashboard {
  min-width: fit-content;
}

.accordion {
  /* max-width: fit-content; */
  margin: 2rem auto;
}

.accordion-title {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #21aeca;
  background: linear-gradient(to right, #800020, #a9347e, #14c7d7);
}

.accordion-title:hover {
  background-color: #3ab4cc;
  background: radial-gradient(circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(199, 233, 148, 1) 100%);
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: #39b9d2;
  background: radial-gradient(circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(199, 233, 148, 1) 100%);
      
}

/* iframe {
    display:block;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(129, 59, 59);
} */

.ContactForm {
  display:block;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  background-color: rgb(129, 59, 59);
}

.classImage {
  background-image: linear-gradient(to right, #800020, #a9347e, #14c7d7);
  width: 80%;
  display: block
}